meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
meta(name="author", content=config.author)
meta(name="google-site-verification",  content="3s_LYacWjlYovkdK4cvm_dS89gi_Q5Lt30voVEXjB1k")
link(rel="icon", href=url_for(theme.favicon))

title
   block site_title
       = config.title
block description
    meta(name="description", content=config.description)
    meta(name="description", content="Akshay mane is a wrestler-cum-engineer, passionate programmer, hard worker, friendly")

link(rel="alternate", href="http://www.akshaymane.in", hreflang="en-us")
link(rel="alternate", type="application/rss+xml", title=config.title, href=url_for("/atom.xml"))

link(rel="stylesheet", href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css")
link(rel="stylesheet", href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css")
link(rel="stylesheet", href=url_for("/css/main.css"))

if theme.highlight.enable
    link(rel="stylesheet", href=url_for(theme.highlight.style_path))

if theme.googlefonts
    each font in theme.googlefonts
        link(rel="stylesheet", href="//fonts.googleapis.com/css?family="+font)

//- TODO: support facebook
//- Facebook OpenGraph tags
//- meta(property="og:title" content=page.title ? page.title : config.title)
//- meta(property="og:type", content="website")
//- meta(property="og:url", content="/")
//- meta(property="og:image", content="avatar")


